{% extends "layout.html" %}

{% block body %}
<h2>MISSION</h2>
<p> M Lhuillier will continue to be present in the country in order to provide the immediate financial needs of its target market.
        M Lhuillier will remain to be accessible and charge fair and competitive rates to its customers.
        It shall likewise maintain its commitment to develop its personnel.
</p>
<h2>VISION</h2>
<p>
    M Lhuillier envisions itself to be a world-class financial institution continuously seeking other opportunities for growth within its core business.
    The organization will hire, retain, and develop quality people ledby professional managers.
    It shall develop an organizational culture that will have a strong bias for quality, customer care, and social responsibility.
</p>
{% endblock %}