{% extends "layout.html" %}

{% block body %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contacts</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <section class="contacts">
        <div class="content">
            <h2>Contact Us</h2>
        </div>
        <div class= "container">
            <div class="contactInfo">
                <div class="box">
                    <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="text">
                        <h3>Address</h3>
                        <p>C. Marapao St, Tagbilaran City, Bohol</p>
                    </div>
                </div>
                    <div class="box">
                        <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h3>Phone</h3>
                            <p>411-2170</p>
                    </div>
                    </div>
                    <div class="box">
                        <div class="icon"><i class="fa fa-envelope" aria-hidden="true"></i>
                        </div>
                        <div class="text">
                            <h3>Email</h3>
                            <p>iad_bohol@yahoo.com</p>
                     </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}